---
layout: default
---
<div class="container">
    {{ content }}
    {% for post in site.posts limit:1 %}
    <div class="recent-blog">
        <a class="blog-preview-title" id="recent-blog-title" href="{{ post.url }}">{{ post.title }}</a>
        <p class="post__desc">
            {{ post.description }}
        </p>
        <a class="blog-preview-link" href="{{ post.url }}">Read More</a>
    </div>
    {% endfor %}
</div>

<section class="older-posts-section">
    <h2>Older Posts</h2>
    <ul class="older-posts-grid">
        {% for post in site.posts limit:3 offset:1 %} <!-- use offset to print only remaining posts (like python [1:]-->
        <li class="blogs">
            <a class="blog-preview-title" href="{{ post.url }}">{{ post.title }}</a>
            <div class="prevent-overflow">
                <p class="post__desc">
                    {{ post.description }}
                </p>
            </div>
            <a class="blog-preview-link" href="{{ post.url }}">Read More</a>
        </li>
        {% endfor %}
    </ul>
</section>