---
layout: default
---

<head>
    <link rel="stylesheet" href={{ "assets/css/cv.css" | relative_url }}>
    <link href={{ "assets/css/bootstrap.css" | relative_url}} rel="stylesheet">
</head>

<!--/ #intro -->
<div id="pdf-download">
    <p>
        <a href="{{site.baseurl}}/assets/downloadables/john-jack-lewis-resume.pdf" target="_blank">
            <i class="fas fa-file-pdf"></i>
            <sm>DOWNLOAD PDF</sm>
        </a>
    </p>
    <h1>John Jack Lewis</h1>
</div>

<section id="resume" name="resume"></section>
<!-- EDUCATION SECTION -->
<div class="cv-container desc">
    <div class="cv-row">

        <div class="col-lg-2 col-lg-offset-1">
            <h5>EDUCATION</h5>
        </div>
        <!-- EDIT: education line 1 -->
        <div class="col-lg-6">
            <p>
                <!-- <h4 id="fsc">Florida Southern College</h4><t></t>
                Honors Program <br/>
                GPA: 4.0/4.0 <br/> -->
                <t>Bachelor of Science in Computer Science: Machine Learning and A.I.</t><br /> Florida Southern College<br/>
                <!--<br/><i>Extra info here</i>-->
            </p>
        </div>
        <div class="col-lg-3">
            <p>
                <sm>Expected May 2021</sm><br />
                <imp>
                    <sm>IN PROGRESS</sm>
                </imp>
            </p>
        </div>
        <div class="col-lg-6 col-lg-offset-3">
            <p>
                <t>Bachelor of Science in Applied Matchematics: Science and Engineering</t><br /> Florida Southern College
            </p>
        </div>
        <div class="col-lg-3">
            <p>
                <sm>Expected May 2021</sm><br />
                <imp>
                    <sm>IN PROGRESS</sm>
                </imp>
            </p>
        </div>

        <!-- EDIT: education line 2 -->
        <!-- <div class="col-lg-6 col-lg-offset-3">
            <p>
                <t>Associate of Degrees </t><br />
                Lil 'ol College
                <br/><i>Extra info here</i>
            </p>
        </div>
        <div class="col-lg-3">
            <p>
                <sm>JUNE 2012</sm>
            </p>
        </div> -->

    </div>
    <!--/.cv-row -->
    <br>
    <hr>
</div>
<!--/.cv-container -->

<!-- WORK SECTION -->
<div class="cv-container desc">
    <div class="cv-row">

        <div class="col-lg-2 col-lg-offset-1">
            <h5>EXPERIENCE</h5>
        </div>
        <!-- EDIT: work line 1 -->
        <div class="col-lg-6">
            <p class="tight">
                <t>REU in Consumer Networking Technologies </t><br /> University of Missouri <br />
            </p>
            <p>
                <more>
                    <ul class="bullets">
                        <li>Designed and implemented novel multimodal deep learning network that achieved 65% accuracy in deepfake detection</li>
                        <li>Drafted research paper and presented research at IEEE AIPR 2020: Trusted Computing, Privacy, and Securing Multimedia</li>
                        <li>Processed 478 GB of videos from the Facebook Deepfake Detection Challenge using Python</li>
                    </ul>
                </more>
            </p>
        </div>
        <div class="col-lg-3">
            <p>
                <sm>May 2020 - July 2020 <br /> (Remote) Columbia, MO</sm>
            </p>
        </div>

        <!-- EDIT: work line 2-->
        <div class="col-lg-6 col-lg-offset-3">
            <p class="tight">
                <t>Programming Team</t><br /> Florida Southern College<br />
            </p>
            <p>
                <more>
                    <ul class="bullets">
                        <li>Competed in the 2018 and 2019 ACM ICPC Southeast USA Regional Programming Contests; placed 2nd at competition site (2019)</li>
                        <li>Compete against other college students to solve the most real-world programming problems using Java and Python</li>
                        <li>Explain and optimize solutions through collaborative demonstration in weekly programming competitions</li>
                    </ul>
                </more>
            </p>
        </div>
        <div class="col-lg-3">
            <p>
                <sm>September 2018 - PRESENT<br /> Lakeland, FL</sm>
            </p>
        </div>
        <!-- EDIT: work line 2-->
        <div class="col-lg-6 col-lg-offset-3">
            <p class="tight">
                <t>Student Software Developer</t><br /> Florida Southern College<br />
            </p>
            <p>
                <more>
                    <ul class="bullets">
                        <li>Developed a web-based application with Vue.js that utilized the Spotify API for location-based music sharing</li>
                        <li>Followed Agile software development methodology</li>
                    </ul>
                </more>
            </p>
        </div>
        <div class="col-lg-3">
            <p>
                <sm>January 2020 – May 2020<br /> Lakeland, FL</sm>
            </p>
        </div>
    </div>
    <!--/.cv-row -->
    <br>
    <hr>
</div>
<!--/.cv-container -->

<!-- PROJECT SECTION-->
<div class="cv-container desc">
    <div class="cv-row">

        <div class="col-lg-2 col-lg-offset-1">
            <h5>PROJECTS</h5>
        </div>
        <!-- EDIT: work line 1 -->
        <div class="col-lg-6">
            <p class="tight">
                <t>Film Revenue Prediction</t><br /> LANGUAGE: <i>Python</i> <br /> TECHNOLOGIES: <i>Pandas, Scikit-learn, Jupyter Notebooks</i> <br />
            </p>
            <p>
                <more>Currently developing an end-to-end Data Science application for predicting revenue for films from the 2010s. Current focus is on evaluating the correlation between trailer success and box office success. Data is generated using the TMDB
                    API and the YouTube API.</more>
            </p>
        </div>
        <div class="col-lg-3">
            <p>
                <imp>
                    <sm>IN PROGRESS</sm>
                </imp>
            </p>
        </div>

        <div class="col-lg-6 col-lg-offset-3">
            <p class="tight">
                <t>Traveling Salesperson: Pizza Pilgrimage</t><br /> LANGUAGE: <i>Java</i> <br />
            </p>
            <p>
                <more>Implemented heuristic using 2-opt algorithm to solve a variation of the non-metric traveling salesperson problem</more>
            </p>
        </div>

        <!-- EDIT: work line 2-->
        <div class="col-lg-6 col-lg-offset-3">
            <p class="tight">
                <t>Film Score Bracket Challenge</t><br /> LANGUAGES: <i>JavaScript, HTML, CSS</i> <br/>TECHNOLOGIES: <i>Vue, Firestore, Firebase, Git, GitHub</i><br />
            </p>
            <p>
                <more>Designed web-based application with Vue.js allowing users to submit predictions in a tournament-style bracket challenge based on Instagram polls of film scores</more>
            </p>
        </div>

        <!-- EDIT: work line 2-->
        <div class="col-lg-6 col-lg-offset-3">
            <p class="tight">
                <t>Maze Generator and Solver</t><br /> LANGUAGE: <i>Python</i> <br />
            </p>
            <p>
                <more>Developed a program in Python to visualize differences of random maze generation procedures using Prim’s and Kruskal’s algorithms and the differences between the maze solving strategies of breadth first search, depth first search, and
                    flood fill</more>
            </p>
        </div>
        <div class="col-lg-6 col-lg-offset-3">
            <p class="tight">
                <t>Soundboard Keyboard</t><br /> LANGUAGE: <i>Python</i> <br />
            </p>
            <p>
                <more>Developed a program using Python that allows a user’s keyboard to function as a small piano or MIDI soundboard by mapping sounds to specific keys</more>
            </p>
        </div>
    </div>
    <!--/.cv-row -->
    <br>
    <hr>
</div>
<!-- AWARDS SECTION -->
<div class="cv-container desc">
    <div class="cv-row">
        <div class="col-lg-2 col-lg-offset-1">
            <h5>AWARDS</h5>
        </div>

        <!-- EDIT: awards line 1-->
        <div class="col-lg-6">
            <p>
                <t>Florida Southern College: Rising Scholar Award</t><br />
            </p>
            <p>
                <more>Award given to one outstanding freshman every year who has exemplified success in scholarship and school involvement</more>
            </p>
        </div>
        <div class="col-lg-3">
            <p>
                <sm>April 2019</sm>
            </p>
        </div>

        <!-- EDIT: awards line 2-->
        <div class="col-lg-6 col-lg-offset-3">
            <p class="tight">
                <t>Florida Southern College: Spirit of the Cornerstone Award</t><br />
                <more>Award given to one student or faculty member who most embodies the tenets of Florida Southern College Cornerstone, specifically creating a positive and enriching environment with respect and excellence of character.</more>
            </p>

        </div>
        <div class="col-lg-3">
            <p>
                <sm>February 2019</sm>
            </p>
        </div>

    </div>
    <!--/.cv-row -->
    <br>
</div>
<!--/.cv-container -->


<section id="contact" name="contact"></section>
<!--FOOTER DESCRIPTION -->
<div id="footwrap" class="footer">
    <div class="cv-container">
        <div class="cv-row">

            <div class="col-lg-2 col-lg-offset-1">
                <h5>CONTACT</h5>
            </div>
            <!-- EDIT: email -->
            <div class="col-lg-6">
                <p>
                    <t>Email</t><br />
                    <a href="mailto:jklewis99@gmail.com" target="_blank" class="mail">jklewis99@gmail.com</a> <br />
                </p>
                <!-- EDIT: address -->
                <p>
                    <t>Address</t><br /> 21320 W 115th St. <br /> Olathe, KS 66061 <br /> United States of America<br />
                </p>
                <!-- EDIT: phone number -->
                <p>
                    <t>Phone</t><br />
                    <a href="tel:9137105315" class="tel">(913) 710-5315</a> <br />
                </p>
            </div>
            <div class="col-lg-3" id="social-links">
                <p>
                    <sm>SOCIAL LINKS</sm>
                </p>
                <p>
                    <a href="https://www.instagram.com/geneticdiabetic/"><i class="fab fa-instagram fa-lg"></i></i></a>
                    <a href="https://www.github.com/jklewis99/"><i class="fab fa-github fa-lg"></i></a>
                    <a href="https://www.linkedin.com/in/johnjacklewis/"><i class="fab fa-linkedin fa-lg"></i></a>
                    <a href="https://youtu.be/BitpKY6JBSw"><i class="fab fa-youtube fa-lg"></i></a>
                </p>
            </div>
        </div>
        <!--/.cv-row -->
    </div>
    <!--/.cv-container -->
</div>
<!--/ #footer -->